.background{
    background-color: rgb(39, 43, 43);
}
.titulo-iniciar{
    padding-left: 40px;
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.titulo-iniciar:hover{
    color: rgba(255, 166, 0, 0.993);
}
.div-log-in{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.iniciar-texto{
    text-align: center;
    font-size: 40px;
    margin-top: 169px;
}
@media screen and (max-width: 425px){
    .iniciar-texto{
        font-size: 30px;
    }
}
.inicio-card{
    display: flex;
    flex-direction: column;
    margin-left: -400px;
}
@media screen and (max-width: 839px){
    .inicio-card{
        margin-left: 0px;
    }
}
.correo{
    padding-top: 124px;
    margin-bottom: 8px;
}
.barra-correo{
    height: 32px;
    width: 300px;
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 5px;
}
.contra{
    padding-top: 30px;
    margin-bottom: 8px;
}
.enter{
    border: 2px solid rgba(255, 166, 0, 0.993); 
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.993);
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 260px;
    
}
.enter:hover{
    color: white;
}
.log-in-button-text{
    text-decoration: none;
    color: black;
    transition: transform;
}
.log-in-button-text:hover{
    color: white;
}
.derecho{
    display: flex;
    flex-direction: row;
}
.check{
    width: 26px;
    height: 26px;
    margin-top: 3px;
    margin-left: 5px;
    display: none;
}
.cross{
    width: 26px;
    height: 26px;
    margin-top: 3px;
    margin-left: 5px;
    display: none;
}
.aproved{
    color: rgb(7, 184, 7);
    font-style: italic;
    margin-top: 5px;
    margin-left: 3px;
    display: none;
}
.rejected{
    color: red;
    font-style: italic;
    margin-top: 5px;
    margin-left: 3px;
    display: none;
}
.log-in-header-container{
    border-bottom: 1px solid grey;
    height: 90px;
    display: flex;
    align-items: center;

}