.cabeza{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 44, 44);
}
.div1{
    height: 80px;
    width: 180px;
    /*margin-bottom: 7px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border: 2px solid blue;*/
}
.div1:hover{
    color: blue;
}
.bi-controller{
    margin-bottom: 9px;
    margin-right: 2px;
    color: white;
}
.bi-controller:hover{
    color: rgba(255, 166, 0, 0.993);
}
.input{
    height: 42px;
    width: 500px;
    border: 2px solid orange;
    border-radius: 5px 0px 0px 5px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.bi-search{
    width: 20px;
    height: 20px;
}
#navbarDropdown{
    margin-top: 5px;
    padding-left: 50px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.btn-outline-success{
    color: orange;
    border: 1px solid orange;
    border-radius: 0px 2px 2px 0px;
}
.btn-outline-success:hover{
    color: white;
    background-color: orange;
}
.titulo{
    font-size: 27px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.div4{
    padding-left: 50px;
    padding-top: 15px;
    font-size: 14px;
}
.div5{
    padding-left: 50px;
    padding-top: 13px;
}
a{
    text-decoration: none;
    color: white;
    transition: transform;
}
a:hover{
    color: rgba(255, 166, 0, 0.993);
}
.div6{
    border: 2px solid rgba(255, 166, 0, 0.993);
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.993);
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 9px;
}
.negro{
    color: black;
    text-decoration: none;
}
.negro:hover{
    color: white;
}
#navbarSupportedContent{
    display: flex;
    justify-content: space-between;
}
.bi-cart2{
    margin-left: 2rem;
    margin-top: 3px;
}
.bi-1-circle-fill{
    margin-left: -10px;
    margin-top: 2px;
}