.detail-container{
    width: 80%;
    height: 650px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 4px black;
    display: flex;
    justify-content: center;
    
}
@media screen and (max-width: 1000px){
    .detail-container{
        width: 90%;
    }
}
@media screen and (max-width: 970px){
    .detail-container{
        width: 98%;
        flex-direction: column;
        height: 1000px;
    }
}
.detail-back{
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 228, 228)
}
@media screen and (max-width: 970px){
    .detail-back{
        height: 1200px;
    }
}
.detail-photo{
    width: 50%;
}
@media screen and (max-width: 970px){
    .detail-photo{
        width: 70%;
    }
}
.d-block{
    margin-left: 30px;
}
.d-block:hover{
    transform: scale(1.05);
}
.carousel-inner{
    max-width: 600px;
}
.carousel-indicators{
    margin-bottom: -15px;
}
.detail-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (max-width: 990px){
    .detail-description{
        width: 100%;
        margin-left: 30px;
    }
}
.detail-title{
    margin-top: 50px;
}
.detail-price{
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.detail-details{
    margin-top: 10px;
    margin-left: -10px;
}
.add-to-cart-button{
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.993);
    height: 44px;
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    margin-left: 3px;
}
@media screen and (max-width: 970px){
    .add-to-cart-button{
        width: 95%;
        margin-left: -10px;
    }
}
@media screen and (max-width: 578px){
    .add-to-cart-button{
        margin-left: -20px;
    }
}
.add-to-cart-button:hover{
    cursor: pointer;
    background-color: rgba(0, 132, 255, 0.993);
}
.add-to-cart-text{
    margin-top: 3px;
    color: white;
    font-size: 22px;
}
.detail-alert{
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.993);
    height: 24px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: 2px;
}
.detail-alert-text{
    margin-top: 7px;
    color: white;
    font-size: 12px;
}
.detail-rating-content{
    display: flex;
    flex-direction: row;
}
.detail-rating-number{
    color: orange;
    margin-left: 2px;
    margin-top: 2px;
}